<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>117721238163-5k3bsqngnma2jjfr4kjbgj5miada4q32.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.117721238163-5k3bsqngnma2jjfr4kjbgj5miada4q32</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>117721238163-618v173cte10mqjurff1u01kgimp8kg1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA9eKrojws-z_aQKRts6bWeAmLDGlHzZSA</string>
	<key>GCM_SENDER_ID</key>
	<string>117721238163</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shareLearning</string>
	<key>PROJECT_ID</key>
	<string>sharelearning-379604</string>
	<key>STORAGE_BUCKET</key>
	<string>sharelearning-379604.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:117721238163:ios:5b1a45e794266e1324db66</string>
</dict>
</plist>